<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body ng-app="NarrowItDownApp">
    <div class="container" ng-controller="NarrowItDownController as ctl">
      <h1>Narrow Down Your Chinese Menu Choice</h1>

      <form>
        <div class="form-group">
          <input type="text" placeholder="search term" ng-model="ctl.searchTerm" class="form-control" />
        </div>
        <div class="group narrow-button">
          <button ng-click="ctl.getItems()" class="btn btn-primary">Narrow It Down For Me!</button>
        </div>
      </form>

      <!-- found-items should be implemented as a component -->
      <!-- <found-items found-items="...." on-remove="...."></found-items> -->
      <!-- <ol> -->
      <!--   <li ng-repeat="item in ctl.items"> -->
      <!--     {{ item }} -->
      <!--   </li> -->
      <!-- </ol> -->

      <search-result items="ctl.found" on-remove="ctl.removeItem(index)"></search-result>
      <!-- <div> --> 
      <!--   <ul><li ng-repeat="elt in ctl.found.menu_items">{{elt}}</li></ul> -->
      <!-- </div> -->
    </div>
  </body>
</html>
